.time-range {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
}

.duplicate-rank td {
    background-color: rgba(0,255,255,0.25);
}

tr.player-row:has(td.cell-rank[data-rank="1"]) td {
    background-color: color-mix(in srgb, gold, transparent 30%);
}

tr.player-row:has(td.cell-rank[data-rank="2"]) td {
    background-color: color-mix(in srgb, silver, transparent 30%);
}

tr.player-row:has(td.cell-rank[data-rank="3"]) td {
    background-color: color-mix(in srgb, #CD7F32, transparent 30%);
}

tr.player-row.highlighted {
    border-color: black;
    border-width: 2px;
}

[data-bs-theme="dark"] tr.player-row.highlighted {
    border-color: white;
}

.hidden-col {
    visibility: collapse;
}

.float {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1;
}

.transparent {
    opacity: 50%;
    transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -webkit-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
}

.transparent:hover {
    opacity: 100%;
}