name: Update Commit Hash

on:
  push:
    branches:
      - '*'  # This will trigger the action on any branch
    paths-ignore:
      - docs/js/data/hash.js  # This ensures the action doesn't trigger on updates to the hash file itself

permissions:
  contents: write  # Grant write access to repository contents

jobs:
  update-commit-hash:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Get commit hash and update file
        run: |
          echo "let commitHash = '$(git rev-parse HEAD)';" > docs/js/data/hash.js

      - name: Commit and push changes
        uses: EndBug/add-and-commit@v9
        with:
          author_name: 'github-actions[bot]'
          author_email: 'github-actions[bot]@users.noreply.github.com'
          message: 'Update commit hash in hash.js'
